/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    background: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-bottom: 21px;
    border-radius: 5px;
}
hr{
    margin: 30px 0;
    border: 1px solid #D1D1D1;
}
/* top players style */
.title{
    margin-top: 5px;
    margin-left: 5px;
    font-size: 24px;
    color: #562EFF;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/* top blog styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    grid-row-gap: ;
}
.blog{
    display: flex;
    align-items: flex-end;
}
.thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
    width: ;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
}
/* courses style */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course{

}
.banner img{
    width: 224px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star{
    color: #AEAEAE;
    font-size: 12px;
}

/* media queries */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: 1fr;
    }
    .player{
        flex-direction: column;
        justify-content: center;
    }
    .blog{
        align-items: center;
    }
}